@import "tailwindcss";
@plugin "daisyui";

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}